# Week1_2 Python Basics 


In this week, we will experimment with Python coding using Jupyter Notebook. We will go further to introduce the Python basic syntax, variables, statements, loops, and probably functions. The purpose is to introduce you to common python operations. We do *not* expect you to commit to memory that various lines of code. It is only through repetition that you will begin to internalize code syntax.

<p><a id="table"> </a></p>
<h3 id="Table-of-Contents">Table of Contents<a class="anchor-link" href="#Table-of-Contents">¶</a></h3>

<ol>
<h3>1.1 <a href="#variablesanddatatype">Variables and data type</a><br/></h3>
1.1.1 <a href="#createvariable">Creating a variable</a><br/>
1.1.2 <a href="#datatypes">Data types</a><br/>
</ol>

<ol>
<h3>1.2 <a href="#operators">Operators</a><br/></h3>
1.2.1 <a href="#arithmeticoperators">Arithmetic operators</a><br/>
1.2.2 <a href="#comparisonoperators">Comparison operators</a><br/>
1.2.3 <a href="#logicaloperators">Logical operators</a><br/>
</ol>

<ol>
<h3>1.3 <a href="#list">List</a><br/></h3>
1.3.1 <a href="#definingalist">Defining a list</a><br/>
1.3.2 <a href="#listconcatenation">List concatenation</a><br/>
1.3.3 <a href="#subscriptindicesandslices">Subscript indices and slices (IMPORTANT)</a><br/>
</ol>

<ol>
<h3>1.4 <a href="#string">String</a><br/></h3>
</ol>

<ol>
<h3>1.6 <a href="#ifstatement">if statement</a><br/></h3>
</ol>

<ol>
<h3>1.7 <a href="#loop(forstatement)">for-loop</a><br/></h3>
1.7.1 <a href="#loopcontrolstatements:continueandbreak">Control statements of a loop: continue and break (Optional)</a><br/>
1.7.2 <a href="#thenestedloop(loopinsideanotherloop)">The nested loop (loop inside another loop)</a><br/>   
</ol>

<ol>
<h3>1.8 <a href="#definingfunctions)">Defining functions (Optional) </a><br/></h3>  
</ol>

<p><a id="variablesanddatatype"> </a></p>
<h2 id="1.1-Variables-and-data-type">1.1 <a href="#table">Variables and data type</a><a class="anchor-link" href="#1.1-Variables-and-data-type">¶</a></h2>

<p><a id="createvariable"> </a></p>
<h3 id="1.1.1-Creating-a-variable">1.1.1 <a href="#table">Creating a variable</a><a class="anchor-link" href="#1.1.1-Creating-a-variable">¶</a></h3>

- Creating a variable using "="
    - e.g., var_0=15

- Rules of variable name
    - Can be any length
    - Can consist of letters ( A Z , a z ), digits ( 0 9 ), and the underscore character ( _ )
    - CANNOT start with a digit 
    - Never name a variable using built-in function names, e.g., print, len, list <br> *built-in functions are shown in green in code cell by default*

In [3]:
# cannot start with digits
9_var = 1

In [9]:
# cannot use built-in functions
print = 3

In [1]:
print("hello world")

hello world

<p><a id="datatypes"> </a></p>
<h3 id="1.1.2-Data-types">1.1.2 <a href="#table">Data types</a><a class="anchor-link" href="#1.1.2-Data-types">¶</a></h3>

   - Numeric: integer (int), decimal number (float)
 
   - String: text (str)

   - Boolean: True or False (bool)

   - List: collection of numerics, strings, or booleans:

In [12]:
# define an integer
a,b = 10, 12.43242

In [14]:
# check the data type
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [10]:
# define a string variable
a = "hello world"

In [11]:
type(a)

str

In [22]:
# check the Boolean type data
b = 3 != 4
b

True

In [23]:
type(b)

bool

In [24]:
# define a list
lst1 = [1, "hello", 3!=4]
lst1

[1, 'hello', True]

In [25]:
# check if 1 is in the lst1
1 in lst1

True

---
##### Python built-in functions/methods
- Python interpreter has various pre-defined functions that are readily available to use. We don’t have to define these functions to use them; we can directly call them. These functions are called built-in functions.    

- Built-in Functions:
    - *type( )*: check a variable type (integer, string, etc.）
    - *print( )*: Print a specified message to the screen
    - *int( )*:  convert a variable into an integer: int(var1)
    - *round()*: round to the nearest integer
---

In [28]:
# convert a float variable to intger
a = 1.9
int(a) # round down the variable

1

In [29]:
# round to the nearest integer
a = 1.9
round(a)

2

---
##### Python built-in functions/methods

---
##### Data type conversion

   - Convert a variable into an integer: int(var1)
   - Convert a variable into a string: str(var1)
   - Convert a variable into a float: float(var1)
---

---   
##### Built-in function
- **round(var)**: 
  - round to the nearest integer
---

<p><a id="operators"> </a></p>
<h2 id="1.2-Operators">1.2 <a href="#table">Operators</a><a class="anchor-link" href="#1.2-Operators">¶</a></h2>

<p><a id="arithmeticoperators"> </a></p>
<h3 id="1.2.1-Arithmetic-operators">1.2.1 <a href="#table">Arithmetic operators</a><a class="anchor-link" href="#1.2.1-Arithmetic-operators">¶</a></h3>

- +, -, *, /
- %: mod, get the remainder of a division.
- //: get the integer part of a quotient. e.g., 7//3=2 
- **: power.

In [35]:
# remainder of 3 divided by 2
7%2

1

In [36]:
# if we want the integer part
7//2

3

In [32]:
# 10 to the power of 3
c = 10**3
c

1000

<p><a id="comparisonoperators"> </a></p>
<h3 id="1.2.2-comparison-operators">1.2.2 <a href="#table">Comparison operators</a><a class="anchor-link" href="#1.2.2-Comparison-operators">¶</a></h3>

- <,  >,  <=,  >=
- ==: if the values of two operands are equal, "==" returns True, otherwise, it returns False
- !=: if the values of two operands are **NOT** equal, "!=" returns True, otherwise, it returns False

In [ ]:
a, b = 21, 10
print(a == b) 
print(a != b) 
print(a >= 21)

In [62]:
a, b = 21, 10

In [63]:
a == b

False

In [64]:
a != b

True

In [65]:
a >= 21

True

<p><a id="logicaloperators"> </a></p>
<h3 id="1.2.3-logical-operators">1.2.3 <a href="#table">Logical operators</a><a class="anchor-link" href="#1.2.3-Logical-operators">¶</a></h3>

- and: If both the operands are true then condition becomes true.
- or: If any of the two operands are true then condition becomes true.
- not: Get the reversed output.

In [43]:
3>4 and 3<4

False

In [44]:
3>4 or 3<4

True

**In class exercise**:
- Judge the result:
    - (2>1) and (3>18) or (5>4)
    - not(2>1 or (3<2))

<p><a id="list"> </a></p>
<h2 id="1.3-list">1.3 <a href="#table">List</a><a class="anchor-link" href="#1.3-List">¶</a></h2>

A list is created by placing all the items (elements) inside square brackets `[]`, separated by commas. It can have any number of items and they may be of different types (integer, float, string etc.).

<p><a id="definingalist"> </a></p>
<h3 id="1.3.1-defining-a-list">1.3.1 <a href="#table">Defining a list</a><a class="anchor-link" href="#1.3.1-Defining-a-list">¶</a></h3>

In [46]:
(2>1) and (3>18) or (5>4)

True

- two ways to define a list:
    - using `[]`. For example, `my_list = [1, "Hello", 3.4]`
    - using `list(range( ))` 
        - two functions: `list( )` and `range( )`
        
- range():
    - start (optional): The starting number of the sequence. The default value is 0.
    - stop: The end of the sequence. This value is not included in the sequence.
    - step (optional): The difference between each number in the sequence. The default value is 1.

In [47]:
not(2>1 or (3<2))

False

In [70]:
# Defining a list from 0 to 5

# method 1: using [] 
lst1 = [1,2,3,4,5]
print(lst1)

# method 2: using list() + range(): generate numbers up to, but not including this number 
temp = range(1,6)
list(temp)

list(range(1,6))

[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [69]:
type(temp)

range

In [59]:
# create a list of 1,3,5,7,9 - odd numbers
lst2 = list(range(1, 10, 2))
lst2

[1, 3, 5, 7, 9]

In [58]:
# using len(object)
print(len(lst1), len(lst2))

5 5

<p><a id="listconcatenation"> </a></p>
<h3 id="1.3.2-list-concatenation">1.3.2 <a href="#table">List concatenation</a><a class="anchor-link" href="#1.3.2-List-concatenation">¶</a></h3>

Let’s see how to concatenate (or join) two lists and how to append elements to a list

The most conventional method to perform the list concatenation is the use of “+” operator which easily add the whole of one list behind the other list and hence perform the concatenation.

In [74]:
# join two lists
lst1=[1,2,3]
lst2=["20240604", "20240605"]

In [75]:
lst1+lst2

[1, 2, 3, '20240604', '20240605']

In [77]:
print(lst1*2+lst2*3)

[1, 2, 3, 1, 2, 3, '20240604', '20240605', '20240604', '20240605', '20240604', '20240605']

- **my_list.append(*item*)**
    - adds an item to the end of the list
    - Argument: *item*: the item to be added at the end of the list. The item can be numbers, strings, dictionaries, another list, and so on.

In [78]:
# append an element to a list
lst1=[1,2,3]
lst1.append("202001")
lst1

[1, 2, 3, '202001']

<p><a id="subscriptindicesandslices"> </a></p>
<h3 id="1.3.3-Subscript-indices-and-slices-(IMPORTANT)">1.3.3 <a href="#table">Subscript indices and slices (IMPORTANT)</a><a class="anchor-link" href="#1.3.3-Subscript-indices-and-slices-(IMPORTANT)">¶</a></h3>

**how to select an element or a subset of elements from a list?**


- **indexing** means selecting an individual element in a sequence(list) using an index. 
    - An **index** denotes the position of an element in a sequence (list).
    - To select an element of the list, we use the index operator [ ]. e.g., **my_list[*index*]**
    - Always remember **Python index counts from 0**. See the figure in slide to understand what is an index. 
        
        
- **slicing** means selecting a **subset** of elements from a sequence (list) based on the indexes.
    - To select an subset of elements, we can use **my_list[*start* : *stop*]**, 
    - The arguments *start* and *stop* denote the corresponding index. 
    - Note that the *start* bound is included in the output. The *stop* bound is not included.

In [84]:
# indexing
lst=[15,"a",14,64,75,100,110,1000] 

#print the first element of lst 
print(lst[0])

#print the second element of lst 
print(lst[1])
    
#print the last element of lst 
print(lst[7])
print(lst[-1])

#print the second to last element of lst
print(lst[-2])

15
a
1000
1000
110

---
**In class exercise**: how to select the element "hello" from the following list? <br>
```python
lst=[1,2,"a",3,4,5,[1,2,"hello"],10,11,100]
```
---

In [90]:
# slicing
lst=[15,"a",14,64,75,100,110,1000]

# [14, 64, 75]
print(lst[2:6])
print(lst[2:-2])

# select the last two elements
print(lst[-2:])

[14, 64, 75, 100]
[14, 64, 75, 100]
[110, 1000]

---
**In class exercise**: 
```python
lst = [15,"a",14,64,75,100,110,1000]
```
select a subset [15,"a",14,64,75,100,110] and named it `lst_subset`


---

---
##### built-in functions of list
- **len(*my_list*)**, **max(*my_list*)**, **min(*my_list*)**, **sum(*my_list*)**


- **my_list.index(*element*)**
    - returns the first index of the given element in the list 

- **my_list.insert(*i*, *elem*)**
    -  elem is inserted to the list at the ith index
    
- **my_list.sort(*reverse=True/False*)**
    - sort the list with ascending/descending order.


- There are many other useful built-in functions such as `.pop()` and `del`. We are unable to cover all of them here. When doing your homework and final project, google the specific functions you want to achieve and you will find the answer. Do not expect to memorize all these functions.

---

In [ ]:
# built-in functions of list
lst=list(range(1, 11)) # list from 1-10

In [97]:
# len(), max(), min(), sum()
print(len(lst), max(lst), min(lst), sum(lst))

10 10 1 55

In [94]:
# find the index of the element with value 1
print(lst.index(1))

0

In [98]:
# insert 1000 at the 1th index
lst.insert(1,1000)
print(lst)

[1, 1000, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [99]:
# removing the value 1000 (note: only the first occurrence of element)
lst.remove(1000)
print(lst)

None

In [100]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [103]:
lst.sort(reverse=True)
lst

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [104]:
# sort the list by descending order
lst.sort(reverse=True)
lst

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

<p><a id="string"> </a></p>
<h2 id="1.4-string">1.4 <a href="#table">String</a><a class="anchor-link" href="#1.4-String">¶</a></h2>

- A sequence of characters, for example, "hello world" and "Way2go". 
- Can be created with single quotes ('') or double quotes ("")--used interchangeably (e.g., “a” and ‘a’ are the same). However, we cannot create a Python string without quotes. 
- Quote all non-numeric texts, such as "123ab", "853v94", except for the date object (We may cover this part later)

To get access to one character or a subset of characters of a string variable. We use **indexing and slicing**

In [ ]:
st = 'abcdefg'

In [106]:
# indexing: select element "c"
st[2]

# select the last element
st[-1]

'g'

In [108]:
# slicing: efg
st[4:]

# abc
st[:3]

'abc'

In [2]:
#  Concatenate two strings 
str1 = "Hello"
str2 = "World"
str1 + " " + str2

'Hello World'

---
**In class exercise**: 
```python
str1 = 'abcdefg'
```
select a subset named `str2 = 'cde'`

---

---
##### Built-in functions of string
   - string shares some of the functions that we have covered in the previous sessions&mdash;**str.index()** and **len(*str*)** 
   
   
   - **str.replace(*old_str*,*new_str*)**
       - replace the old substring with the new substring
       - the function returns a copy of the string, meaning that str_1.replace(*old_str*,*new_str*) does not change the value of the original string variable *str_1*. Assign the returned copy of string to a newly-defined string variable if necessary

   
   - **str.startswith(*string*)** and **str.endswith(*string*)**
        - str.startswith( )&mdash;returns True if a string starts with the specified prefix. If not, it returns False.
        - str.endswith( )&mdash;returns True if a string ends with a specified suffix, if else, it returns False
   
   
   - **str.isnumeric( )** and **str.isalpha( )** 
        - str.isnumeric()&mdash;checks whether the string consists of only numeric characters. It returns True/False
        - str.isalpha()&mdash;check if all the characters are alphabet letters (a-z)
---

In [111]:
str1 = "1231242523"

In [112]:
# .index(): The index of the value 2 is
str1.index("2")

1

In [113]:
str2 = "  December 30th, 2020  "

In [115]:
# str.replace(old,new): replace 2020 with 2024
str2.replace("2020", "2019")
str2 # str.replace() does not change the value of the original string variable (str2)

'  December 30th, 2020  '

In [117]:
str3 = str2.replace("2020", "2024") # we assign the replaced value to a new variable (str3) 
str3

'  December 30th, 2024  '

In [118]:
str4 = str3.replace(" ", "")
str4

'December30th,2024'

In [120]:
# integrate these steps
str2 = str2.replace("2020", "2024").replace(" ", "")
str2

'December30th,2019'

**In class exercise:**

`str1 = "      PM25_20141205     "` <br>
get rid of the prefix "PM25_" and whitespace for str1, and name the new string variable str2

<p><a id="ifstatement"> </a></p>
<h2 id="1.6-if-statement">1.6 <a href="#table">if statement</a><a class="anchor-link" href="#1.6-if-statement"></a></h2>

The if statement is frequently used when we want to execute a part of code (or make certain decision) only if a certain condition is satisfied. 

Three common structures of if statement: 

#### 1. if statement:<br>


    if CS:
        DM that satisfies the CS
    
- Conditional statement (CS); Decision Making (DM)
- Will execute the DM only if the CS is True; otherwise, DM will not be executed.
- DM starts with an indentation. The first un-indented line marks the end of a DM.
- **Press TAB for an indentation, Press Shift+TAB to remove an indentation**. An indentation equals to 4 whitespace.
  
#### 2. if...else statement


    if CS1:
        DM1 that satisfies the CS1
    else: 
        DM2 that satisfies the else condition


- If the CS1 is true, DM1 will be executed only. 
- If the CS1 is False, DM2 will be executed. 
- Each DM is indicated by an indentation. 



#### 3. The if...elif...(elif)...else statement 


    if CS1:
        DM1 that satisfies the CS1
    elif CS2:
        DM2 that satisfies the CS2
    elif CS3:
        DM3 that satisfies the CS3
    else: 
        DM4 that satisfies the else condition
        
- You can make many "elif CS" depending on how many DMs you have. 
- However, in if...elif...(elif)...else statement, there must be only **one** if as the start statement and only **one** else as the end statement

In [121]:
# if...else: lst = list(range(0,11)), check if the lst has 10 elements

if len(lst) == 10: 
    print("The list has 10 elements")
else: 
    print("The list does not have 10 elements")

The list does not have 10 elements

---
**In class exercise:**
Classify anyone's age into the following three groups: G1: 0-18, G2: 19-64, G3: 65 and above.

To center age: 
`Age = int(input("please enter your age: "))`

---

In [126]:
Age = int(input("please enter your age: "))

if Age <= 18 and Age >= 0: 
    print("this person is categorized into G1")
elif Age >= 19 and Age <=64:
    print("this person is categorized into G2")
else: 
    print("this person is categorized into G3")

please enter your age: 54
this person is categorized into G2

<p><a id="loop(forstatement)"> </a></p>
<h2 id="1.7-loop-(for-statement)">1.7 <a href="#table">for-loop</a><a class="anchor-link" href="#1.7-loop-(for-statement)"></a></h2>

- A for-loop structure is used for iterating over a sequence (either a list or a string).

##### Example 1: print out all the numbers from 10-20
   - Method 1: loop over each element in the list
   - Method 2: loop over the **index** of each element using `len()` and `range()`

In [128]:
# Method 1: loop over each element in the list

a = list(range(10,21))

for i in a: 
    print(i)

10
11
12
13
14
15
16
17
18
19
20

In [131]:
# Method 2: loop over the index of each element using len() and range()

a = list(range(10,21))

for i in range(len(a)): # this is range(10), and it returns 0,1,2,...,10
    print(a[i])

10
11
12
13
14
15
16
17
18
19
20

##### Example 2: print all the odd numbers between 10 to 20

In [18]:
a = list(range(10, 21))

for i in a:
    if i % 2 == 1:
        print("odd number", i)
        
for i in range(len(a)):
    if a[i] % 2 == 1:
        print(a[i], end = ", ")

odd number 11
odd number 13
odd number 15
odd number 17
odd number 19
11, 13, 15, 17, 19,

##### Example 3: sum up all the numbers between 50 to 100 using for loop

In [22]:
# example 3: sum up all the numbers between 50 to 100 using for loop

a = list(range(50, 101))

sum_up = 0

for i in a: 
    sum_up = i + sum_up
print(sum_up)
    
    
# round 1, i = 50, sum_up = 0
# result: sum_up = 50

# round 2, i = 51, sum_up = 50
# result: sum_up = 101

# round 3: i = 52, sum_up = 101
# result: sum_up = 153


sum_up = 0
for i in range(len(a)):
    sum_up = a[i] + sum_up
print(sum_up)

3825
3825

**In class exercise**

You have a student list with grades attached: 
student = ["student1", 99, "student2", 72, "student3", 59]

mark the scores greater than 80 as "A", <br>
scores between 60 to 80 as "B", <br>
and scores less than 60 as "C".<br> 
print out the new list student = ['student1', 'A', 'student2', 'B', 'student3', 'C']

In [24]:
student = ["student1", 99, "student2", 72, "student3", 59]

for i in range(len(student)):
    if type(student[i]) == int:
        if student[i] > 80: 
            student[i] = "A"
        elif student[i] >= 60 and student[i] < 80:
            student[i] = "B"
        else: 
            student[i] = "C"
            
print(student)

['student1', 'A', 'student2', 'B', 'student3', 'C']

In [132]:
student = ["student1", 99, "student2", 72, "student3", 59]

# Iterate through the list and replace scores with grades
for i in range(1, len(student), 2):
    if student[i] > 80:
        student[i] = 'A'
    elif 60 <= student[i] <= 80:
        student[i] = 'B'
    else:
        student[i] = 'C'

print(student)

['student1', 'A', 'student2', 'B', 'student3', 'C']

<p><a id="thenestedloop(loopinsideanotherloop)"> </a></p>
<h3 id="1.7.1-The-nested-loop-(loop-inside-another-loop)">1.7.1 <a href="#table">The nested loop (loop inside another loop)</a><a class="anchor-link" href="#1.7.1-The-nested-loop-(loop-inside-another-loop)">¶</a></h3>

- a nested loop with 2 levels is very common;

```python
for i in range(2):        -level 1
    for j in range(3):    -level 2
```

- using more than 2 levels is not recommended. That kind of structure will make the code very hard to read and debug.

```python
for x in range(2):          -level 1
    for y in range(3):      -level 2
        for z in range(4):  -level 3
```

In [134]:
# a simple example of nested for loop
for i in range(2): # i = 0,1
    for j in range(3): # j = 0,1,2
        print(i,j) # print out all the combination of i,j

0 0
0 1
0 2
1 0
1 1
1 2

<p><a id="loopcontrolstatements:continueandbreak"> </a></p>
<h3 id="1.7.2-Loop-control-statements:-continue-and-break (Optional)">1.7.2 <a href="#table">Control statements of a loop: continue and break</a><a class="anchor-link" href="#1.7.2-Loop-control-statements:-continue-and-break (Optional)">¶</a></h3>

- break statement 
    - it terminates the current loop containing it and resumes execution at the next statement.

    - if the break statement is inside a nested loop, the break statement will terminate the innermost loop.

- continue statement
    - it rejects all the remaining code in the current iteration of the loop and moves the control back to the top of the current loop. 
    
- In sum, break statement **terminates the whole for-loop and jump into the next statement** even if the current loop is not over yet. continue statement **terminates the current iteration of a loop, and starts the next iteration in the same loop**.

In [28]:
# example of break: j = 0-5, the loop ends when j == 3
j = list(range(0, 6))

for i in j: 
    if i == 3:
        break
    print(i)

0
1
2

In [29]:
# example of continue: 

j = list(range(0, 6))

for i in j: 
    if i == 3:
        continue
    print(i)

0
1
2
4
5

<p><a id="definingfunctions"> </a></p>
<h2 id="1.8definingfunctions">1.8 <a href="#table">Defining functions</a><a class="anchor-link" href="#1.8definingfunctions"></a></h2>

You have introduced many built-in functions (e.g., print, len, int, etc.) that can be used directly. However, sometimes we also want to define a customized function that realize a function that meet our specific demand. In this section, we will take two examples to briefly introduce the self-defined functions in Python.

In [152]:
# example 1: transform fahrenheit degree to celsius degree
def fah2cel(fahrenheit):
    celsius = (fahrenheit - 32) * 5/9
    print(celsius)

fah2cel(float(input("Enter temperature in fahrenheit: ")))

Enter temperature in fahrenheit: 83
28.333333333333332

In [154]:
# example 2: Return the maximum of three values
def maximum(value1, value2, value3):
    """Return the maximum of three values"""
    max_value = value1
    if value2 > max_value:
        max_value = value2
    if value3 > max_value:
        max_value = value3
    return max_value

maximum(12.3, 45.6, 9.7)

45.6