*Download the 2016, 2017, and 2018 Manhattan Property Sales Data (Excel files) from here https://www1.nyc.gov/site/finance/taxes/property-annualized-sales-update.page.*

### Q1. (55 Points) Combine the three years’ data using a for-loop. In the for-loop, do the following (for each year’s data set):

* a.	(10  Points) Load the data set as a Pandas DataFrame. Hint: you may want to use if-statement to treat year 2018 differently. <br>
<span style="color:red">5 pts: use if-statement for 2018</span><br>
<span style="color:red">5 pts: use str(y) for data file name</span>
* b.	( 5 Points) Print the current year and the shape of the DataFrame.<br>
<span style="color:red">3 pts: print year number </span><br>
<span style="color:red">2 pts: print shape</span>
* c.	(25 Points) Edit the DataFrame to be right (change the column names, delete the first 4 rows, and reset the index). Hint: these three years’ data sets have slightly different column names, so you may want to use 2016’s column names for the other two years (see Lecture 7 Codebook 2.3 for reference). <br>
<span style="color:red">10 pts: save 2016 column names </span><br>
<span style="color:red">10 pts: change column names to 2016's </span><br>
<span style="color:red">5 pts: keep data from 5th row</span>

* d.	(10 Points) Create a new column “YEAR” for the DataFrame with values equal to the current year. Hint: df[“YEAR”] = 2017 will create a new column “YEAR” in df with all values equal to 2017.<br>
<span style="color:red">10 pts: use df[“YEAR”] = y </span>

* e.	( 5 Points) Using “.concat()” function to combine data sets. Hint: you may want to create a blank Pandas DataFrame before the for-loop.<br>
<span style="color:red">5 pts: use concat() and update combined dataframe</span>

In [1]:
import pandas as pd

In [2]:
df_combine = pd.DataFrame()                     # Creata a blank dataframe

for y in range(2016, 2019):
    
    if y == 2018:                               # a. Load the data set as a Pandas DataFrame
        df = pd.read_excel(str(y) + '_manhattan.xlsx')
    else:
        df = pd.read_excel(str(y) + '_manhattan.xls')
        
    print(y, df.shape)                          # b. Print current year and the shape of the DataFrame
    
    if y == 2016:                               # c. Edit the DataFrame to be right
        col_2016 = df.iloc[3].values                # save 2016 column name 
    df.columns = col_2016                           # rename each year's columns using col_2016
    df = df.iloc[4:, :]                             # keep data from the 5th row
    df.reset_index(drop = True, inplace = False)    # reset index for dataframe
    
    df['YEAR'] = y                              # d. Create a new column “YEAR” with values equal to the year
    
    df_combine = pd.concat([df_combine, df])    # e. Using “.concat()” to combine data sets

2016 (21245, 21)
2017 (18646, 21)
2018 (17045, 21)

### Q2. (15 Points) For the combined DataFrame, use “==” to check whether the number of rows equals 56924, whether the number of columns equals 22, and whether “YEAR” is in the column name list. Hint: all results should be True. 

* <span style="color:red">5 pts for each check </span>

In [3]:
df_combine.shape[0] == 56924

True

In [4]:
df_combine.shape[1] == 22

True

In [5]:
'YEAR' in df_combine.columns

True

### Q3. (30 Points) Use the combined DataFrame to show the number of properties sold in Chelsea neighborhood for 2016, 2017, and 2018. Hint: the answers are 947, 815, and 664. You may want to do row selection conditional on the Chelsea neighborhood and on each year. Note that the neighborhood name string may contain multiple whitespaces in some year (see Lecture 8 Codebook 2 for conditional selection).

* <span style="color:red">10 pts for each selection </span>

In [6]:
df_combine.loc[(df_combine['NEIGHBORHOOD\n'] == 'CHELSEA                  ') & (df_combine['YEAR'] == 2016)].shape[0]

947

In [7]:
df_combine.loc[(df_combine['NEIGHBORHOOD\n'] == 'CHELSEA') & (df_combine['YEAR'] == 2017)].shape[0]

815

In [8]:
df_combine.loc[(df_combine['NEIGHBORHOOD\n'] == 'CHELSEA') & (df_combine['YEAR'] == 2018)].shape[0]

664